<mat-card class="card">

  <h1>{{title}}</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="image-div">
      <img [src]="form.value.img" alt="" width="100" height="100">
    </div>

    <button type="button" (click)="fileInput.click()" mat-raised-button>
      <mat-icon>upload</mat-icon> Upload
    </button>

    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error>{{getError("firstName")}}</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error>{{getError("lastName")}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error>{{getError("email")}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>{{getError("password")}}</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="cpassword">
      <mat-error>{{getError("cpassword")}}</mat-error>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit"> Submit</button>


  </form>


</mat-card>
